.outer {
  background-color: white;
  border: 1px #d1c5be solid;
  padding: 15px 20px;
  display: flex;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 5px;
  transition: border 0.2s, opacity 0.2s;
  flex-direction: row;
}

.outer:hover {
  border-color: #0b1b2e;
}

.outer:active {
  opacity: 0.7;
}

.outer * {
  margin: 0;
}

.title {
  font-size: 14;
  color: #363636;
  flex: 1;
}
