.outer {
  display: flex;
  width: "100%";
}

.children {
  flex: 1;
}

.header {
  background-color: #f0f3f4;
  margin-right: 20px;
  padding: 10px 20px;
  border-radius: 10px;
}

.header * {
  cursor: pointer;
  font-weight: 600;
  color: black;
  transition: opacity 0.2s;
}

.header *:hover {
  opacity: 0.7;
}

@media (max-width: 400px) {
  .outer {
    display: block;
  }
  .header {
    margin-right: 0;
  }
}
