.outer {
  flex-direction: row;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 10px 15px;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: white;
  border: rgb(141, 19, 19) solid 2px;
}

.text {
  font-size: 12px;
  flex: 1;
}
