.outer {
  text-align: center;
  padding: 20px 40px;
  border-radius: 5px;
  -webkit-box-shadow: 10px 0px 32px -10px rgba(194, 194, 194, 0.75);
  -moz-box-shadow: 10px 0px 32px -10px rgba(194, 194, 194, 0.75);
  box-shadow: 10px 0px 32px -10px rgba(194, 194, 194, 0.75);
}
